@media(max-width: 1264px){
/* * footer */

    .footer_content{
        flex-direction: column;
        text-align: center;
    }
    .info{
        margin: 0 auto;
        order: 4;
        margin-bottom: 115px;
    }
    .footer_menu{
        order: 2;
        flex-direction: column;
        margin-bottom: 53px;
    }
    .additional_info{
        order: 3;
        margin-bottom: 53px;
        
    }
    .footer_socoal_icons{
        justify-content: center;
        margin-bottom: 111px;
    }

}
@media(max-width: 778px){
/* * nav */

    .nav{
        justify-content: flex-end;
    }
    .logo_link{
        display: none;
    }
    .menu_left,
    .menu_right{
        display: none;
    }

/* * nav mobile */
    .nav_mobile{
        display: block;
        width: 100%;
        background-color: #debfa6;
        position: absolute;
        left: 0;
        padding: 5px;
        margin-top: -200px;
    }
    .nav_mobile_opem{
        margin-top: -68px;
    }
    .nav_mobile .logo_link{
        display: block;
        position: absolute;
    }
    .menu_burger{
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 3;
        width: 68px;
        height: 18px;
        position: relative;
        z-index: 3;
    }
    .menu_burger_icon{
        width: 100%;
        height: 4px;
        background-color: #57463A;
    }
    .menu_burger_icon::before,
    .menu_burger_icon::after{
        content: "";
        display: flex;
        width: 100%;
        height: 4px;
        background-color: #57463A;
    } 
    .menu_burger_icon::before{
        position: absolute;
        top: 0px;
    
    }
    .menu_burger_icon::after{
        position: absolute;
        bottom: 0px;
    }
    .menu_burger_icon.active{
        background-color: transparent;
    }
    .menu_burger_icon.active::before{
        top: 0;
        transform: rotate(46deg);
    }
    .menu_burger_icon.active::after{
        top: 0;
        transform: rotate(-46deg);
    }
    .menu_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 630px){
.section_title{
    max-width: 248px;
    font-size: 32px;
}

/* * header */

.header_content{
    padding-top: 177px;
    background-position: -70px;
    margin-bottom: 109px
}
.header_content span{
    font-size: 32px;
    text-align: left;
    margin-bottom: 60px;
}
.before_header_title{
    max-width: 252px;
    text-align: left;
    margin-bottom: 30px;
}
.header_title{
    max-width: 225px;
    font-size: 32px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 3px;
}
.link_header{
    padding: 18px 78px;
}

/* * our advantages*/

.our_advantages{
    padding-bottom: 90px;
}
.our_advantages_list{
    padding-top: 60px;
    gap: 40px 0;
}

/* * production stages */

.production_stages{
    padding-bottom: 90px;
}
.production_stages_content{
    padding-top: 60px;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
}

/* * reviews */

.reviews{
    padding-bottom: 90px;
}
.container_reviews{
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 15px;
}
.reviews_content{
    justify-content: center;
}


/* * contacts */

.contacts{
    padding-bottom: 150px;
}
.contacts_title{
    max-width: 287px;
    margin-bottom: 50px;
}

/* * footer */

    .footer_content{
        flex-direction: column;
        text-align: left;
    }
    .info{
        margin-left: 0;
    }
    .footer_menu{
        flex-direction: column;
    }
    .additional_info{
        order: 3;
        margin-bottom: 53px;  
    }
    .footer_socoal_icons{
        justify-content: start;
    }
}